<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.password">9849487565pp</property>
        <property name="hibernate.connection.url">jdbc:h2:mem</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">class</property>
    </session-factory>
</hibernate-configuration>
